services:
  app:
    # 이미지 이름은 환경변수로 주입받음 (deploy.sh 또는 .env)
    image: ${DOCKER_IMAGE}
    restart: always
    # 실행 시점에 지정된 .env 파일을 로드
    env_file:
      - .env
    ports:
      - "127.0.0.1:${HOST_PORT}:8080"
    environment:
      - TZ=Asia/Seoul
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - DB_HOST=nex4
      - DB_PORT=${DB_PORT}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - GMAIL_EMAIL=${GMAIL_EMAIL}
      - GMAIL_PASSWORD=${GMAIL_PASSWORD}
      - MINIO_URL=${MINIO_URL}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
    # 외부 서버(nex4) DB 접속을 위한 호스트 매핑
   # extra_hosts:
     # - ${DB_HOST_NAME}:${DB_HOST}